@use '@Sass/variables' as *;
@use '@Sass/mixins' as *;
@use '@Sass/functions' as f;

.bar {
  @include card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.px2em(14) f.px2em(16) f.px2em(14) f.px2em(24);
  margin-bottom: f.px2em(24);
  background-color: $dark-blue;

  &__suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    & > :last-child {
      margin-left: f.px2em(16);
    }
  }

  &__icon {
    margin-right: f.px2em(16);
  }

  &__btn {
    width: 157px;
    height: 44px;
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include media(mobile-large) {
  .bar {
    border-radius: 0;

    &__suggestions {
      & > :last-child {
        margin-left: 0;
      }
    }

    &__icon {
      display: none;
    }

    &__number {
      display: none;
    }
  }
}

@include media(mobile-medium) {
  .bar {
    border-radius: 0;

    &__suggestions {
      & > :last-child {
        margin-left: 0;
      }
    }

    &__icon {
      display: none;
    }

    &__number {
      display: none;
    }

    &__btn {
      width: 134px;
      height: 40px;

      & > button {
        padding: 0;
      }
    }
  }
}

@include media(mobile-small) {
  .bar {
    flex-direction: column-reverse;
    row-gap: 15px;
    border-radius: 0;

    &__suggestions {
      & > :last-child {
        margin-left: 0;
      }
    }

    &__icon {
      display: none;
    }

    &__number {
      display: none;
    }

    &__btn {
      width: 134px;
      height: 40px;

      & > button {
        padding: 0;
      }
    }
  }
}
