@use '@Sass/abstracts/animations' as a;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;

.container {
  display: contents;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  transition: a.$theme-transition-opacity;

  &--logoDark {
    opacity: var(--thm-nav-logo-dark);
  }

  &--logoLight {
    opacity: var(--thm-nav-logo-light);
  }

  &--logoMobile {
    display: none;
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(tablet-small, mobile-all) {
  .logo {
    &--logoDark,
    &--logoLight {
      display: none;
    }

    &--logoMobile {
      display: block;
      height: auto;
      margin: 0 f.px2em(16);
    }
  }
}

/* --------------------------------
 ----       Animations         ----
 -------------------------------- */

.logoRect_0 {
  @include a.logo1;
}

.logoRect_1 {
  @include a.logo2;
}

.logoRect_2 {
  @include a.logo3;
}
