@use '@Sass/variables' as *;
@use '@Sass/mixins' as *;
@use '@Sass/functions' as f;

.form {
  @include card;
  padding: f.px2em(32);

  &__title {
    color: $navy-blue;
    margin-bottom: f.px2em(24);
  }

  & textarea {
    @include body-2;
    @include textarea;
    min-height: 80px;
    margin-bottom: f.px2em(8);
  }

  &__bar {
    @include body-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mute-blue;

    &__charsRemain {
      margin-right: 8px;
    }
  }

  &__btnPost {
    width: 144px;
    height: 44px;
  }

  &__submitted {
    & textarea:invalid {
      @include input-error1;
    }
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include media(mobile-large) {
  .form {
    padding: f.px2em(24);
  }
}

@include media(mobile-medium) {
  .form {
    padding: f.px2em(24);
  }
}

@include media(mobile-small) {
  .form {
    padding: f.px2em(24);

    &__bar {
      font-size: f.px2rem(13);
    }
  }
}
