/* -------------------------------- */
/*          ~ Animations ~          */
/* -------------------------------- */
/*        [Kanban Task App]         */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/11/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Animations
////

/*   Imports                        */
@use 'variables' as *;
@use 'media-queries' as mq;

/* -------------------------------- */
/*   Theme Transitions              */
/* -------------------------------- */

/// Provides the transition durations for the background property.
/// @example
///   .class {
///     transition: $theme-transition-bg
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition MDN: CSS Transition
$theme-transition-bg: background 1s;

/// Provides the transition durations for the color property.
/// @example
///   .class {
///     transition: $theme-transition-color
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition MDN: CSS Transition
$theme-transition-color: color 1s;

/// Provides the transition durations for the fill property.
/// @example
///   .class {
///     transition: $theme-transition-fill
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition MDN: CSS Transition
$theme-transition-fill: fill 1s;

/// Provides the transition durations for the border property.
/// @example
///   .class {
///     transition: $theme-transition-border
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition MDN: CSS Transition
$theme-transition-border: border 1s;

/// Provides the transition durations for the opacity property.
/// @example
///   .class {
///     transition: $theme-transition-opacity
///   }
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition MDN: CSS Transition
$theme-transition-opacity: opacity 1s;

/* -------------------------------- */
/*   Definitions                    */
/* -------------------------------- */

@mixin logo1 {
  animation: 474ms ease-out infinite alternate rectangle;
  animation-delay: 0ms;
}

@mixin logo2 {
  animation: 533ms ease-in infinite alternate rectangle;
  animation-delay: 120ms;
}

@mixin logo3 {
  animation: 607ms linear infinite alternate rectangle;
  animation-delay: 75ms;
}

/* -------------------------------- */
/*   Keyframes                      */
/* -------------------------------- */

@keyframes sidebar-hide-300 {
  0% {
    width: $sidebar-dim-width-l;
  }

  100% {
    width: 0;
  }
}

@keyframes sidebar-hide-reverse-300 {
  0% {
    width: 0;
  }

  100% {
    width: $sidebar-dim-width-l;
  }
}

@keyframes sidebar-hide-260 {
  0% {
    width: $sidebar-dim-width-m;
  }

  100% {
    width: 0;
  }
}

@keyframes sidebar-hide-reverse-260 {
  0% {
    width: 0;
  }

  100% {
    width: $sidebar-dim-width-m;
  }
}

@keyframes sidebar-opacity {
  0% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes sidebar-opacity-reverse {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sidebar-theme-reverse {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sidebar-li {
  0% {
    opacity: 1;
    overflow-x: hidden;
  }

  25% {
    opacity: 0.25;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes sidebar-li-reverse {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    overflow-x: hidden;
  }
}

@keyframes rectangle {
  0% {
    transform-origin: 0 100%;
    transform: scaleY(1);
  }

  100% {
    transform-origin: 0 100%;
    transform: scaleY(0.5);
  }
}

/* -------------------------------- */
/*   Hover Effects                  */
/* -------------------------------- */
