/* -------------------------------- */
/*           ~ Colors ~             */
/* -------------------------------- */
/*        [Kanban Task App]         */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/11/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Colors
////

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Primary Colors                 */
/* -------------------------------- */

/// Primary
/// @type Color
$col-1a: hsl(242deg 48% 58%);

/// Primary
/// @type Color
$col-1b: hsl(243deg 100% 82%);

/// Primary
/// @type Color
$col-1c: hsl(237deg 100% 4%);

/// Primary
/// @type Color
$col-1d: hsl(235deg 16% 15%);

/// Primary
/// @type Color
$col-1e: hsl(235deg 12% 19%);

/// Primary
/// @type Color
$col-1f: hsl(236deg 11% 27%);

/// Primary
/// @type Color
$col-1g: hsl(216deg 15% 57%);

/// Primary
/// @type Color
$col-1h: hsl(221deg 69% 94%);

/// Primary
/// @type Color
$col-1i: hsl(220deg 69% 97%);

/// Primary
/// @type Color
$col-1j: hsl(0deg 78% 63%);

/// Primary
/// @type Color
$col-1k: hsl(0deg 100% 80%);

/// Primary
/// @type Color
$col-1l: hsl(245deg 52% 96%);

/// Primary
/// @type Color
$col-1m: hsl(242deg 48% 89%);

/// Primary
/// @type Color
$col-1n: hsl(240deg 23% 29%);

/// Primary
/// @type Color
$col-1o: hsl(193deg 75% 59%);

/// Primary
/// @type Color
$col-1p: hsl(219deg 63% 95%);

/* -------------------------------- */
/*   Secondary Colors               */
/* -------------------------------- */

/// Secondary
/// @type Color
$white: hsl(0deg 0% 100%);

/// Secondary
/// @type Color
$black: hsl(0deg 0% 0%);

/// Secondary
/// @type Color
$col-2a: hsl(237deg 100% 4% / 25%);

/// Secondary
/// @type Color
$col-2b: hsl(0deg 0% 100% / 25%);

/// Secondary
/// @type Color
$col-2c: hsl(216deg 15% 57% / 25%);

/// Secondary
/// @type Color
$col-2d: hsl(237deg 100% 4% / 50%);

/// Secondary
/// @type Color
$col-2e: hsl(0deg 0% 100% / 50%);

/// Secondary
/// @type Color
$col-2f: hsl(242deg 48% 58% / 25%);

/// Secondary
/// @type Color
$col-2g: hsl(242deg 48% 58% / 10%);

/// Secondary
/// @type Color
$col-2h: hsl(0deg 0% 100% / 50%);

// $Light_Grey: hsl(210deg, 22%, 96%);
// $Grey: hsl(212deg, 23%, 69%);
// $Dark_Grey: hsl(214deg, 17%, 51%);

/* -------------------------------- */
/*   Tertiary Colors                */
/* -------------------------------- */

// Column Bullet Palette
// Palette extended with tools: https://paletton.com/ https://htmlcolors.com/hex-to-hsl

/// Tertiary
/// @type Color
$col-3a: hsl(193deg 75% 59%);

/// Tertiary
/// @type Color
$col-3b: hsl(249deg 83% 70%);

/// Tertiary
/// @type Color
$col-3c: hsl(154deg 68% 64%);

/// Tertiary
/// @type Color
$col-3d: hsl(24deg 100% 65%);

/// Tertiary
/// @type Color
$col-3e: hsl(238deg 77% 64%);

/// Tertiary
/// @type Color
$col-3f: hsl(52deg 100% 65%);

/// Tertiary
/// @type Color
$col-3g: hsl(162deg 78% 59%);

/// Tertiary
/// @type Color
$col-3h: hsl(293deg 77% 59%);

/// Tertiary
/// @type Color
$col-3i: hsl(77deg 96% 64%);

/// Tertiary
/// @type Color
$col-3j: hsl(349deg 96% 64%);

/// Tertiary
/// @type Color
$col-3k: hsl(114deg 88% 62%);

/// Tertiary
/// @type Color
$col-3l: hsl(38deg 100% 65%);

/// List of color variables to be consumed for bullet points, hover effects; sequential.
/// @type List
$col-theme-list: $col-3a, $col-3b, $col-3c, $col-3d, $col-3e, $col-3f, $col-3g, $col-3h, $col-3i, $col-3j, $col-3k,
  $col-3l;

/// Modal - Translucent black
/// @type Color
$col-modal-bg: hsl(0deg 0% 0% / 50%);
