@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.footer {
  position: relative;
  padding: f.px2em(75) v.$padding-desktop-horizontal f.px2em(50) v.$padding-desktop-horizontal;
  background-color: c.$col-1b;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 4px;
    background-color: c.$col-1a;
    border: none;
  }

  &__logo {
    width: fit-content;
    height: fit-content;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    column-gap: f.px2em(34);
  }

  &__link {
    @include mx.header-subtitle;
    color: c.$col-2b;

    &:hover {
      color: c.$col-1a;
    }
  }

  &__info {
    @include mx.body-regular using ($rem) {
      padding: f.px2em-parent(36, $rem) 0 f.px2em-parent(56, $rem) 0;
    }
    max-width: 50%;
    color: c.$col-3b;
  }

  &__bottombar {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__social {
    position: absolute;
    right: 0;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    column-gap: f.px2em(16);

    &__icon {
      width: 24px;
      height: 24px;

      &:hover {
        filter: brightness(0) saturate(100%) invert(49%) sepia(47%) saturate(591%) hue-rotate(338deg) brightness(104%)
          contrast(90%);
      }
    }
  }

  &__copyright {
    @include mx.body-regular;
    font-weight: 700;
    color: c.$col-3b;
    white-space: nowrap;
    text-align: center;
  }
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.media(desktop-small) {
  .footer {
    padding: f.px2em(75) v.$padding-desktop-small-horizontal f.px2em(50) v.$padding-desktop-small-horizontal;
  }
}

@include mq.media(desktop-mini, desktop-micro) {
  .footer {
    padding: f.px2em(75) v.$padding-desktop-mini-horizontal f.px2em(50) v.$padding-desktop-mini-horizontal;
  }
}

@include mq.media(tablet-large) {
  .footer {
    padding: f.px2em(75) v.$padding-tablet-horizontal f.px2em(50) v.$padding-tablet-horizontal;
  }
}

@include mq.media(tablet-regular, tablet-small) {
  .footer {
    padding: f.px2em(60) v.$padding-tablet-small-horizontal f.px2em(45) v.$padding-tablet-small-horizontal;
  }
}

@include mq.media(tablet-mini, tablet-micro) {
  .footer {
    padding: f.px2em(60) v.$padding-tablet-mini-horizontal f.px2em(45) v.$padding-tablet-mini-horizontal;
  }
}

@include mq.media(mobile-all) {
  .footer {
    padding: f.px2em(52) v.$padding-mobile-horizontal f.px2em(38) v.$padding-mobile-horizontal;

    &::before {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@include mq.media(tablet-all, mobile-all) {
  .footer {
    &__nav {
      flex-direction: column;
      row-gap: 32px;
    }
  }
}

@include mq.media(mobile-all) {
  .footer {
    &__nav {
      align-items: center;
      row-gap: 48px;
    }
  }
}

@include mq.media(tablet-all) {
  .footer {
    &__links {
      justify-content: unset;
      column-gap: f.px2em(34);
    }
  }
}

@include mq.media(mobile-all) {
  .footer {
    &__links {
      flex-direction: column;
      align-items: center;
      row-gap: f.px2em(16);
    }
  }
}

@include mq.media(tablet-all) {
  .footer {
    &__info {
      max-width: unset;
    }
  }
}

@include mq.media(mobile-all) {
  .footer {
    &__info {
      max-width: unset;
      text-align: center;
    }
  }
}

@include mq.media(mobile-all) {
  .footer {
    &__bottombar {
      flex-direction: column;
      align-items: center;
      row-gap: 48px;
    }
  }
}

@include mq.media(tablet-all) {
  .footer {
    &__social {
      bottom: 0;
    }
  }
}

@include mq.media(mobile-all) {
  .footer {
    &__social {
      position: relative;
      bottom: unset;
      right: unset;
      justify-content: unset;
    }
  }
}
