@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;

.container {
  background-color: c.$col-1c;

  &__subContainer {
    padding: v.$padding-desktop;
  }
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.desktop-small {
  .container {
    &__subContainer {
      padding: v.$padding-desktop-small;
    }
  }
}

@include mq.tablet-xlarge {
  .container {
    &__subContainer {
      padding: v.$padding-tablet-xl;
    }
  }
}

@include mq.media(tablet-large) {
  .container {
    &__subContainer {
      padding: v.$padding-tablet;
    }
  }
}

@include mq.media(tablet-medium, tablet-small) {
  .container {
    &__subContainer {
      padding: v.$padding-tablet-small;
    }
  }
}

@include mq.mobile-all {
  .container {
    &__subContainer {
      padding: v.$padding-mobile;
    }
  }
}
