@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.container {
  @include card;
  height: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: f.px2em(14) f.px2em(8);
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include media(mobile-large, mobile-medium, mobile-small) {
  .container {
    height: fit-content;
  }
}
