/* -------------------------------- */
/*            ~ Mixins ~            */
/* -------------------------------- */
/*         [Designo Agency]         */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      27/03/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Mixins
////

/*   Imports                        */
@use 'sass:math';
@use 'animations' as a;
@use 'colors' as c;
@use 'functions' as f;
@use 'variables' as v;

/* -------------------------------- */
/*   Text: Header                   */
/* -------------------------------- */

/// H1 header styling
/// @require px2rem Pixel to REM converter <>
@mixin header-h1 {
  font-weight: 500;
  font-size: f.px2rem(48);
  line-height: f.px2rem(48);
}

/// H2 header styling
/// @require px2rem Pixel to REM converter <>
@mixin header-h2 {
  font-weight: 500;
  font-size: f.px2rem(40);
  line-height: f.px2rem(48);
  letter-spacing: f.px2rem(2);
}

/// H3 header styling
/// @require px2rem Pixel to REM converter <>
@mixin header-h3 {
  font-weight: 500;
  font-size: f.px2rem(20);
  line-height: f.px2rem(26);
  letter-spacing: f.px2rem(5);
}

/* -------------------------------- */
/*   Text: Body                     */
/* -------------------------------- */

/// Body (regular) styling
/// @require px2rem Pixel to REM converter <>
@mixin body-r {
  font-weight: 400;
  font-size: f.px2rem(16);
  line-height: f.px2rem(26);
}

/// Body (nav-link) styling
/// @require px2rem Pixel to REM converter <>
@mixin body-nav-link {
  font-weight: 400;
  font-size: f.px2rem(14);
  line-height: f.px2rem(26);
  letter-spacing: f.px2rem(2);
}

/* -------------------------------- */
/*   Text: Decoration               */
/* -------------------------------- */

/// Link underline styling
@mixin text-link-underline {
  cursor: pointer;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

/* -------------------------------- */
/*   Extend Click Area              */
/* -------------------------------- */

/// Extends the click area around clickable elements
/// @parameter {Percentage} $x [175%] - Extend horizontal clickable area
/// @parameter {Percentage} $y [150] - Extend horizontal clickable area
/// @parameter {Boolean} $visible [true] - Debug: Display the visible click area with a color.
@mixin extend-clickarea($x: 175%, $y: 150%, $visible: true) {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $x;
    height: $y;
    @if $visible == true {
      background: rgb(239 172 207 / 80%);
    }
  }
}

/* -------------------------------- */
/*   Input: Text                    */
/* -------------------------------- */

/// Input (text) styling
/// @require px2em Pixel to EM converter <>
/// @require $col-2c color variable
/// @require $border-radius-input-text border radius variable
/// @require $theme-transition-color theme transition color variable
@mixin input-text {
  padding: f.px2em(8) f.px2em(16);
  background-color: transparent;
  border: 1px solid c.$col-2c;
  border-radius: v.$border-radius-input-text;

  &::placeholder {
    color: var(--thm-input-text-default-active-placeholder);
    transition: a.$theme-transition-color;
  }
}

// @mixin text-modifier-black {
//   font-weight: 700;
//   color: var(--color-text-p);
//   transition: a.$theme-transition;
// }

/*   Card                           */
// @mixin card {
//   background-color: $white;
//   border-radius: $border-radius-1;
//   padding: f.px2em(24);
// }

/*   Text Area                      */
// @mixin textarea {
//   @include body-2;
//   border: none;
//   border-radius: $border-radius-2;
//   resize: vertical;
//   width: 100%;
//   padding: f.px2em(16) f.px2em(24);
//   background-color: $pale-blue;
//   color: $navy-blue;

//   &::placeholder {
//     color: $fade-blue;
//   }

//   &:focus {
//     outline: 1px solid $royal-blue;
//   }
// }

/*   Errors                         */
// @mixin input-error {
//   $element: &;
//   &--error {
//     #{$element} {
//       outline: 1px solid $blood-red;

//       &:focus {
//         outline: 1px solid $blood-red;
//       }
//     }

//     &::after {
//       content: "Can't be empty";
//       @include body-4;
//       left: 0;
//       bottom: 0;
//       color: $blood-red;
//     }
//   }
// }

/* -------------------------------- */
/*   Fluid Typogrpahy               */
/* -------------------------------- */

// The first two arguments are for screen resolutions from which the font will be responsive.
// The last two arguments are for the smallest and largest font size.
// Calculates line-height automatically.
@mixin fluid-font($min-width, $max-width, $min-font-size, $max-font-size) {
  $unit1: math.unit($min-width);
  $unit2: math.unit($max-width);
  $unit3: math.unit($min-font-size);
  $unit4: math.unit($max-font-size);

  @if $unit1 == $unit2 and $unit1 == $unit3 and $unit1 == $unit4 {
    font-size: $min-font-size;
    line-height: $min-font-size * 1.618;

    @media screen and (min-width: $min-width) {
      @include fluid-font-min-width($min-width, $max-width, $min-font-size, $max-font-size);
    }

    @media screen and (min-width: $max-width) {
      @include fluid-font-max-width($max-font-size);
    }
  }
}

@mixin fluid-font-min-width($min-width, $max-width, $min-font-size, $max-font-size) {
  font-size: calc(
    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );

  line-height: calc(
    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * 1.618 *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );
}

@mixin fluid-font-max-width($max-font-size) {
  font-size: $max-font-size;
  line-height: $max-font-size * 1.618;
}
