@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.item {
  @include card;
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content auto max-content;

  &__suggestion {
    & h3 {
      color: $navy-blue;
      margin-bottom: f.px2em(10);
    }

    & p {
      color: $mute-blue;
      margin-bottom: f.px2em(12);
    }
  }

  &:hover {
    & .item__suggestion {
      h3 {
        color: $royal-blue;
      }
    }
  }

  & > :nth-child(2) {
    flex-grow: 1;
  }

  &__comment {
    display: flex;
    align-items: center;
    margin-left: f.px2em(16);

    & img {
      height: fit-content;
      margin-right: f.px2em(8);
    }
  }
}

.noComments {
  opacity: 0.4;
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include media(mobile-large) {
  .item {
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, auto);
    // TEST: .
    grid-template-areas:
      'main main' auto
      'tag comment' auto
      / repeat(2, 1fr);
    row-gap: f.px2em(16);

    & > form {
      grid-area: tag;
    }

    & > a {
      grid-area: main;
    }

    & > div {
      grid-area: comment;
    }

    &__suggestion {
      grid-column: span 2;
      grid-row: 1;
    }

    &__comment {
      justify-self: end;
    }
  }
}
@include media(mobile-medium) {
  .item {
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, auto);
    // TEST: .
    grid-template-areas:
      'main main' auto
      'tag comment' auto
      / repeat(2, 1fr);
    row-gap: f.px2em(16);

    & > form {
      grid-area: tag;
    }

    & > a {
      grid-area: main;
    }

    & > div {
      grid-area: comment;
    }

    &__suggestion {
      grid-column: span 2;
      grid-row: 1;
    }

    &__comment {
      justify-self: end;
    }
  }
}

@include media(mobile-small) {
  .item {
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, auto);
    // TEST: .
    grid-template-areas:
      'main main' auto
      'tag comment' auto
      / repeat(2, 1fr);
    row-gap: f.px2em(16);

    & > form {
      grid-area: tag;
    }

    & > a {
      grid-area: main;
    }

    & > div {
      grid-area: comment;
    }

    &__suggestion {
      grid-column: span 2;
      grid-row: 1;
    }

    &__comment {
      justify-self: end;
    }
  }
}
