@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as v;

.header {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(min-content, 1fr);
  align-items: center;
  margin-bottom: f.px2em(160);
  color: c.$col-1c;
  background-color: c.$col-1a;
  background-image: url('~svg/desktop/bg-pattern-hero-about-desktop.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  border-radius: v.$border-radius-1;
  overflow: hidden;

  &__info {
    padding: f.px2em(40) f.px2em(95);

    & > h1 {
      @include mx.header-h1;
    }

    & > p {
      margin-top: f.px2em(24);
    }
  }

  &__img {
    object-fit: cover;
    justify-self: end;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: c.$col-2d;
  border-radius: v.$border-radius-1;
  overflow: hidden;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: f.px2em(94);

    & > h2 {
      @include mx.header-h2;
      color: c.$col-1a;
    }

    & > p {
      margin-top: f.px2em(24);
    }
  }
}

.cardNum1 {
  background-image: url('~svg/desktop/bg-pattern-two-circles.svg');
  background-repeat: no-repeat;
  background-position: bottom center;

  &__img {
    object-fit: cover;
  }
}

.cardNum2 {
  flex-direction: row-reverse;
  background-image: url('~svg/desktop/bg-pattern-two-circles.svg');
  background-repeat: no-repeat;
  background-position: bottom left;

  &__img {
    object-fit: cover;
  }
}

.locations {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin: f.px2em(160) 0;
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(tablet-xlarge) {
  .header {
    margin-bottom: f.px2em(120);
  }
}

@include mq.media(tablet-all) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: f.px2em(120);
    text-align: center;

    &__img {
      content: url('~img/tablet/image-about-hero.jpg');
      order: -1;
      object-fit: cover;
    }
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    &__info {
      padding: f.px2em(68) f.px2em(60);
    }
  }

  .cardNum1 {
    &__img {
      content: url('~img/tablet/image-world-class-talent.jpg');
    }
  }

  .cardNum2 {
    &__img {
      content: url('~img/tablet/image-real-deal.jpg');
    }
  }

  .locations {
    flex-direction: column;
  }
}

@include mq.media(mobile-small) {
  .card {
    &__info {
      padding: f.px2em(60) f.px2em(24);
    }
  }
}

@include mq.media(mobile-all) {
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: repeat(2, auto);
    margin: 0 -24px;
    border-radius: 0;

    &__info {
      grid-row: 2;
      padding: f.px2em(80) f.px2em(24);

      & > h1 {
        font-size: f.px2em(32);
        line-height: 36px;
      }
    }
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0 -24px;
    border-radius: 0;

    &__info {
      padding: f.px2em(80) f.px2em(24);
      text-align: center;

      & > h2 {
        font-size: f.px2em(32);
        line-height: 36px;
      }
    }
  }

  .cardNum1 {
    &__img {
      content: url('~img/mobile/image-world-class-talent.jpg');
      width: 100%;
    }
  }

  .cardNum2 {
    &__img {
      content: url('~img/mobile/image-real-deal.jpg');
      width: 100%;
    }
  }

  .locations {
    flex-direction: column;
    margin: f.px2em(120) 0;
  }
}

@media only screen and (width <= 850px) {
  .locations {
    flex-direction: column;
    margin: f.px2em(120) 0;
  }
}
