/*  Colours  */
/*  Primary  */
$Grayish-blue: hsl(237deg 18% 59%);
$Soft-red: hsl(345deg 95% 68%);

/*  Neutral  */
$White: hsl(0deg 0% 100%);
$Dark-desaturated-blue: hsl(236deg 21% 26%);
$Dark-purple: hsl(275deg 21% 15%);
$Very-dark-blue: hsl(235deg 16% 14%);
$Extremely-dark-blue: hsl(234deg 17% 12%);

/*  Breakpoints */
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 2560px;
