@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/variables' as v;

.main {
  padding: v.$padding-desktop-vertical v.$padding-desktop-horizontal;
  background-color: c.$col-2b;

  &__container {
    margin: 0 auto;
    max-width: 1400px;
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(desktop-small) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-desktop-small-horizontal;
  }
}

@include mq.media(desktop-mini) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-desktop-mini-horizontal;
  }
}

@include mq.media(desktop-micro) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-desktop-mini-horizontal;
  }
}

@include mq.media(tablet-large) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-tablet-horizontal;
  }
}

@include mq.media(tablet-regular, tablet-small) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-tablet-small-horizontal;
  }
}

@include mq.media(tablet-mini, tablet-micro) {
  .main {
    padding: v.$padding-desktop-vertical v.$padding-tablet-mini-horizontal;
  }
}

@include mq.media(mobile-all) {
  .main {
    padding: v.$padding-mobile-vertical v.$padding-mobile-horizontal;
  }
}
