@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/variables' as v;

.mainTag {
  padding-top: 80px;
}

.btnBack {
  @include mx.body-regular using ($rem) {
    margin-bottom: f.px2em-parent(56, $rem);
  }
  background-color: transparent;
  color: c.$col-3a;
  text-transform: capitalize;
}

.alternatives {
  @include mx.header-h3 using ($rem) {
    margin-bottom: f.px2em-parent(64, $rem);
  }
  text-align: center;
}

.productDetailCard {
  margin-bottom: f.px2em(160);
}

.productImageGrid {
  margin-bottom: f.px2em(160);
}

.productExampleSeeList {
  margin-bottom: f.px2em(160);
}

.productExampleShopList {
  margin-bottom: f.px2em(160);
}

.companyStatement {
  margin-bottom: f.px2em(40);
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include mq.media(tablet-all) {
  .mainTag {
    padding-top: 35px;
  }
}

@include mq.media(mobile-all) {
  .mainTag {
    padding-top: 16px;
  }
}

@include mq.media(tablet-all, mobile-all) {
  .btnBack {
    margin-bottom: 24px;
  }
}

@include mq.media(mobile-all) {
  .alternatives {
    font-size: f.px2rem(24);
  }
}

@include mq.media(tablet-all, mobile-all) {
  .productImageGrid {
    margin-bottom: f.px2em(120);
  }
}

@include mq.media(mobile-all) {
  .productExampleSeeList {
    margin-bottom: f.px2em(120);
  }
}

@include mq.media(tablet-all) {
  .productDetailCard {
    margin-bottom: f.px2em(145);
  }
}

@include mq.media(mobile-all) {
  .productDetailCard {
    margin-bottom: f.px2em(88);
  }
}
