@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.navbar {
  display: flex;
  width: 100%;
  height: v.$navbar-dim-height;
  background-color: var(--thm-bg-sidebar);
  transition: a.$theme-transition-bg;

  &__logo {
    position: relative;
    width: v.$sidebar-dim-width-l;
    border-right: 1px solid var(--thm-border-divider);
    transition: a.$theme-transition-border;

    &--mobile {
      display: none;
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      transition: a.$theme-transition-opacity;

      &--dark {
        opacity: var(--thm-nav-logo-dark);
      }

      &--light {
        opacity: var(--thm-nav-logo-light);
      }
    }
  }

  &__head {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    width: 100%;
    padding: 0 f.px2em(24);
    transition: a.$theme-transition-color;
  }

  &__leftControls {
    display: flex;

    &__title {
      @include mx.header-xl;
    }

    &__mobileAsideBtn {
      position: relative;
      @include mx.extend-clickarea(250%, 300%, false);
      display: none;
      align-self: center;
      margin-right: auto;

      & > img {
        transform: scale(150%) translateY(1px);
      }
    }
  }

  &__rightControls {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: f.px2em(24);

    &__addTask {
      @include btn.btn-primary-l;
      width: max-content;
      padding-left: f.px2em(18);
      padding-right: f.px2em(18);

      & > img {
        display: none;
      }
    }

    &__boardOptions {
      position: relative;

      & > img {
        min-height: 20px;
        min-width: 5px;
      }
      @include mx.extend-clickarea(350%, 175%, false);
    }

    &__dropdownMenu {
      @include mx.body-l;
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      row-gap: f.px2em(16);
      transform: translateY(125%);
      padding: f.px2em(20);
      background-color: var(--thm-dropdown-default-list-bg);
      border-radius: v.$border-radius-dropdown-list;
      box-shadow: v.$box-shadow-2;
      transition: a.$theme-transition-bg;

      & > p {
        cursor: pointer;
        width: 160px;

        &:hover {
          color: c.$col-1j;
        }
      }
    }
  }
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.media(tablet-large) {
  .navbar {
    // See DefaultLayout; subcontainer calculation requires variable
    height: calc(v.$navbar-dim-height - 16px);

    &__logo {
      width: v.$sidebar-dim-width-m;
    }

    &__leftControls {
      &__title {
        @include mx.header-l;
        min-width: 0;
        padding-right: f.px2em(10);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

@include mq.media(tablet-medium) {
  .navbar {
    // See DefaultLayout; subcontainer calculation requires variable
    height: calc(v.$navbar-dim-height - 16px);

    &__logo {
      width: v.$sidebar-dim-width-m;
    }

    &__leftControls {
      &__title {
        @include mx.header-l;
        min-width: 0;
        padding-right: f.px2em(10);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__rightControls {
      &__addTask {
        padding: f.px2em(10) f.px2em(18);

        & > span {
          display: none;
        }

        & > img {
          display: block;
          margin: 0 f.px2em(4);
        }
      }
    }
  }
}

@include mq.media(tablet-small) {
  .navbar {
    // See DefaultLayout; subcontainer calculation requires variable
    height: calc(v.$navbar-dim-height - 32px);

    &__logo {
      display: flex;
      align-items: center;
      width: fit-content;
      border-right: none;

      &--mobile {
        display: block;
        height: auto;
        margin: 0 f.px2em(16);
      }

      &__img {
        &--dark,
        &--light {
          display: none;
        }
      }
    }

    &__head {
      padding-left: 0;
    }

    &__leftControls {
      &__title {
        @include mx.header-l;
        min-width: 0;
        padding-right: f.px2em(10);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__rightControls {
      &__addTask {
        padding: f.px2em(10) f.px2em(18);

        & > span {
          display: none;
        }

        & > img {
          display: block;
          margin: 0 f.px2em(4);
        }
      }
    }
  }
}

@include mq.media(mobile-all) {
  .navbar {
    // See DefaultLayout; subcontainer calculation requires variable
    height: calc(v.$navbar-dim-height - 32px);

    &__logo {
      display: flex;
      align-items: center;
      width: fit-content;
      border-right: none;

      &--mobile {
        display: block;
        height: auto;
        margin: 0 f.px2em(16);
      }

      &__img {
        &--dark,
        &--light {
          display: none;
        }
      }
    }

    &__head {
      padding-left: 0;
    }

    &__leftControls {
      &__title {
        @include mx.header-l;
        min-width: 0;
        padding-right: f.px2em(10);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__mobileAsideBtn {
        display: block;

        &--reverse {
          & > img {
            transform: scale(150%) translateY(1px) rotate(180deg);
          }
        }
      }
    }

    &__rightControls {
      &__addTask {
        padding: f.px2em(10) f.px2em(18);

        & > span {
          display: none;
        }

        & > img {
          display: block;
          margin: 0 f.px2em(4);
        }
      }
    }
  }
}
