@use '@Sass/mixins' as *;
@use '@Sass/functions' as f;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.subContainer {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(24);
  max-width: f.px2rem(730);
  width: 100%;
  padding: f.px2em(80) f.px2em(40) f.px2em(129);
  margin-inline: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(24);
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include media(mobile-large) {
  .container {
    padding: f.px2em(24) 0 f.px2em(88);
  }

  .flex {
    padding: 0 f.px2em(20) f.px2em(129);
  }
}

@include media(mobile-medium) {
  .container {
    padding: f.px2em(24) 0 f.px2em(88);
  }

  .flex {
    padding: 0 f.px2em(20) f.px2em(129);
  }
}

@include media(mobile-small) {
  .container {
    padding: f.px2em(24) 0 f.px2em(88);
  }

  .flex {
    padding: 0 f.px2em(20) f.px2em(129);
  }
}
