@use '@Sass/mixins' as *;
@use '@Sass/functions' as f;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: f.px2em(78) f.px2em(20) f.px2em(0);
}

.flex {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(48);
  height: 100%;
  max-width: 1110px;

  & > main {
    height: 100%;
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include media(desktop-small) {
  .container {
    padding: f.px2em(56) f.px2em(30) f.px2em(0);
  }
}

@include media(tablet-regular) {
  .container {
    padding: f.px2em(56) f.px2em(30) f.px2em(0);
  }
}

@include media(tablet-small) {
  .container {
    padding: f.px2em(56) f.px2em(30) f.px2em(0);
  }
}

@include media(mobile-large) {
  .container {
    padding: 0;
  }

  .flex {
    width: 100%;
    row-gap: 0;
  }
}

@include media(mobile-medium) {
  .container {
    padding: 0;
  }

  .flex {
    width: 100%;
    row-gap: 0;
  }
}

@include media(mobile-small) {
  .container {
    padding: 0;
  }

  .flex {
    width: 100%;
    row-gap: 0;
  }
}
