@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/variables' as v;

.card {
  @include mx.body-regular;
  font-weight: 700;
  display: grid;
  grid-template:
    'img title quantity' 1fr
    'img price _' 1fr
    / 64px auto auto;
  column-gap: 16px;
  width: 100%;

  &__img {
    grid-row: 1 / span 2;
    border-radius: v.$border-radius-1;
  }

  &__title {
    align-self: end;
    font-size: f.px2rem(15);
    text-transform: uppercase;
  }

  &__price {
    grid-area: price;
    align-self: start;
    color: c.$col-3a;
  }

  &__quantity {
    grid-area: quantity;
    place-self: end end;
    color: c.$col-3a;
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(mobile-small) {
  .card {
    grid-template:
      'title quantity'
      'price _'
      / auto auto;

    &__img {
      display: none;
    }
  }
}
