/* -------------------------------- */
/*          ~ Variables ~           */
/* -------------------------------- */
/*      [Project Feedback App]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/09/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Colours: Primary               */

/// Primary - Magenta
/// @type Color
$magenta: hsl(282deg 83% 52%);

/// Primary - Sky-Blue
/// @type Color
$sky-blue: hsl(204deg 94% 68%);

/// Primary - Royal-Blue
/// @type Color
$royal-blue: hsl(230deg 76% 59%);

/// Primary - Pale-Royal-Blue
/// @type Color
$pale-royal-blue: hsl(230deg 100% 91%);

/// Primary - Dark-Blue
/// @type Color
$dark-blue: hsl(230deg 31% 31%);

/// Primary - Navy-Blue
/// @type Color
$navy-blue: hsl(231deg 33% 34%);

/// Primary - Pale-Blue
/// @type Color
$pale-blue: hsl(231deg 100% 97%);

/// Primary - Mute-Blue
/// @type Color
$mute-blue: hsl(224deg 20% 49%);

/// Primary - Pale-Grey
/// @type Color
$pale-grey: hsl(230deg 60% 98%);

/// Primary - Blood-Red
/// @type Color
$blood-red: hsl(0deg 67% 53%);

/// Primary - Mute-Orange
/// @type Color
$mute-orange: hsl(14deg 83% 74%);

/// Primary - White
/// @type Color
$white: hsl(0deg 0% 100%);

/// Primary - Black
/// @type Color
$black: hsl(0deg 0% 0%);

/// Primary - Grey
/// @type Color
$grey: hsl(212deg 23% 69%);

/*   Colours: Secondary             */
/// Placeholder Text - Fade-Blue
/// @type Color
$fade-blue: hsl(231deg 20% 63%);

/// Faded View Link - Fade-Blue
/// @type Color
$fade-blue-link: hsl(230deg 89% 74%);

/*   Faded Buttons                  */

/// Faded View Link - Dim Magenta
/// @type Color
$dim-magenta: hsl(282deg 90% 66%);

/// Faded View Link - Dim Royal-Blue
/// @type Color
$dim-royal-blue: hsl(230deg 91% 73%);

/// Faded View Link - Dim Navy-Blue
/// @type Color
$dim-navy-blue: hsl(231deg 26% 52%);

/// Faded View Link - Dim Blood-Red
/// @type Color
$dim-blood-red: hsl(0deg 69% 72%);

/// Utility Bar Dropdown - Dim Grey
/// @type Color
$dim-grey: hsla(230deg 86% 97% / 75%);

/// Line Break - Grey
/// @type Color
$line-break: hsla(231deg 20% 63% / 25%);

/// Mobile Modal Background - Black
$mobile-modal-bg: hsla(0deg 0% 0% / 50%);

/*   Toaster Colors                 */
/// Toaster - Red
/// @type Color
$toast-red: hsl(0deg 100% 87%);

/// Toaster - Mute-Blue
/// @type Color
$toast-mute-blue: hsl(230deg 100% 91%);

/*   Breakpoints                    */

/// Media-Query Breakpoint: Mobile Small
/// @type Number (px)
$mobile-s: 320px;

/// Media-Query Breakpoint: Mobile Medium
/// @type Number (px)
$mobile-m: 375px;

/// Media-Query Breakpoint: Mobile Large
/// @type Number (px)
$mobile-l: 425px;

/// Media-Query Breakpoint: Tablet Small
/// @type Number (px)
$tablet-s: 700px;

/// Media-Query Breakpoint: Tablet
/// @type Number (px)
$tablet: 768px;

/// Media-Query Breakpoint: Desktop Small
/// @type Number (px)
$desktop-s: 1024px;

/// Media-Query Breakpoint: Desktop Medium
/// @type Number (px)
$desktop-m: 1440px;

/// Media-Query Breakpoint: Desktop Large
/// @type Number (px)
$desktop-l: 2560px;

/*   Borders                        */
/// Border Radius - 1
/// @type Number (px)
$border-radius-1: 10px;

/// Border Radius - 2
/// @type Number (px)
$border-radius-2: 5px;

/// Border Bottom - List-Item
/// @type Number (px)
$border-bottom-li: 1px solid hsla(0deg 0% 59% / 15%);

/*   Shadows                        */
/// Box Shadow - 1
/// @type Number (px)
$box-shadow-1: 0 0 25px 10px hsla(224deg 20% 49% / 30%);

/// Box Shadow - 2
/// @type Number (px)
$box-shadow-2: 0 4px 14px 0 hsla(0deg 0% 0% / 20%);
