/* -------------------------------- */
/*           ~ Mixins ~             */
/* -------------------------------- */
/*          [Invoice App]           */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      17/10/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Mixins
////

/*   Imports                        */
@use 'sass:math';

@use 'animations' as a;
@use 'colors' as c;
@use 'functions' as f;
@use 'variables' as v;

/// Body styling - 1
/// @require px2rem Pixel to REM converter <>
/// @require $color-2b
@mixin body-1 {
  font-weight: 400;
  font-size: f.px2rem(16);
  line-height: f.px2rem(15);
  letter-spacing: f.px2rem(-0.25);
  color: c.$color-2b;
}

/// Body styling - 2
/// @require px2rem Pixel to REM converter <>
@mixin body-2 {
  font-weight: 400;
  font-size: f.px2rem(11);
  line-height: f.px2rem(18);
  letter-spacing: f.px2rem(-0.23);
}

/// Body styling - 3
/// @require px2rem Pixel to REM converter <>
@mixin body-3 {
  font-weight: 500;
  font-size: f.px2rem(12);
  line-height: 1;
  letter-spacing: f.px2rem(-0.25);
}

/// Body styling - 4
/// @require px2rem Pixel to REM converter <>
@mixin body-4 {
  font-weight: 700;
  font-size: f.px2rem(24);
  line-height: 1;
  letter-spacing: f.px2rem(-0.25);
}

/// Text Modifier (Black)
/// @require px2rem Pixel to REM converter <>
@mixin text-modifier-black {
  font-weight: 700;
  color: var(--color-text-p);
  transition: a.$theme-transition;
}

/// Card Styling
/// @require px2em Pixel to EM converter <>
/// @require $white color variable
/// @require $border-radius-1 border radius variable
@mixin card {
  background-color: c.$white;
  border-radius: v.$border-radius-1;
  padding: f.px2em(24);
}

/// TextArea Styling
/// @require {mixin} body-2 body styling mixin
/// @require px2em Pixel to EM converter <>
/// @require $pale-blue color variable
/// @require $navy-blue color variable
/// @require $fade-blue color variable
/// @require $royal-blue color variable
/// @require $border-radius-2 border radius variable
@mixin textarea {
  @include body-2;
  border: none;
  border-radius: v.$border-radius-2;
  resize: vertical;
  width: 100%;
  padding: f.px2em(16) f.px2em(24);
  background-color: c.$pale-blue;
  color: c.$navy-blue;

  &::placeholder {
    color: c.$fade-blue;
  }

  &:focus {
    outline: 1px solid c.$royal-blue;
  }
}

/* -------------------------------- */
/*   Extend Click Area              */
/* -------------------------------- */

/// Extends the click area around clickable elements
/// @parameter {Percentage} $x [175%] - Extend horizontal clickable area
/// @parameter {Percentage} $y [150] - Extend horizontal clickable area
/// @parameter {Boolean} $visible [true] - Debug: Display the visible click area with a color.
@mixin extend-clickarea($x: 175%, $y: 150%, $visible: true) {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $x;
    height: $y;
    @if $visible == true {
      background: rgb(239 172 207 / 80%);
    }
  }
}

/// Input Error
/// @require $blood-red color variable
/// @require {mixin} body-4 body styling mixin
@mixin input-error {
  $element: &;

  &--error {
    #{$element} {
      outline: 1px solid c.$blood-red;

      &:focus {
        outline: 1px solid c.$blood-red;
      }
    }

    &::after {
      content: "Can't be empty";
      @include body-4;
      left: 0;
      bottom: 0;
      color: c.$blood-red;
    }
  }
}

/*   Buttons                        */
/// Button (Default) styling
/// @require px2rem Pixel to REM converter <>
/// @require $white color variable
@mixin btn-default {
  font-size: f.px2rem(15);
  font-weight: 500;
  font-family: inherit;
  line-height: f.px2rem(15);
  letter-spacing: -0.25px;
  color: c.$white;
  height: 48px;
  border-radius: 24px;
}

// @mixin btn-1 {
//   @include btn-default;
//   background-color: $magenta;

//   &:hover {
//     background-color: hsl(from $magenta h s l / 50%);
//   }
// }

// @mixin btn-2 {
//   @include btn-default;
//   background-color: $royal-blue;

//   &:hover {
//     background-color: hsl(from $royal-blue h s l / 50%);
//   }
// }

// @mixin btn-3 {
//   @include btn-default;
//   background-color: $navy-blue;

//   &:hover {
//     background-color: hsl(from $navy-blue h s l / 50%);
//   }
// }

// @mixin btn-4 {
//   @include btn-default;
//   background-color: $blood-red;

//   &:hover {
//     background-color: hsl(from $blood-red h s l / 50%);
//   }
// }

// @mixin btn-back {
//   font-size: f.px2rem(16);
//   font-weight: 700;
//   letter-spacing: 0.1ch;
//   padding: f.px2em(16) f.px2em(52);
//   background-color: $dark-blue;

//   &:hover {
//     background-color: hsl(from $dark-blue h s l / 50%);
//     text-decoration: underline;
//   }
// }

/*   Fluid Typogrpahy               */
// The first two arguments are for screen resolutions from which the font will be responsive.
// The last two arguments are for the smallest and largest font size.
// Calculates line-height automatically.
@mixin fluid-font($min-width, $max-width, $min-font-size, $max-font-size) {
  $unit1: math.unit($min-width);
  $unit2: math.unit($max-width);
  $unit3: math.unit($min-font-size);
  $unit4: math.unit($max-font-size);

  @if $unit1 == $unit2 and $unit1 == $unit3 and $unit1 == $unit4 {
    font-size: $min-font-size;
    line-height: $min-font-size * 1.618;

    @media screen and (min-width: $min-width) {
      @include fluid-font-min-width($min-width, $max-width, $min-font-size, $max-font-size);
    }

    @media screen and (min-width: $max-width) {
      @include fluid-font-max-width($max-font-size);
    }
  }
}

@mixin fluid-font-min-width($min-width, $max-width, $min-font-size, $max-font-size) {
  font-size: calc(
    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );

  line-height: calc(
    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * 1.618 *
      ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
  );
}

@mixin fluid-font-max-width($max-font-size) {
  font-size: $max-font-size;
  line-height: $max-font-size * 1.618;
}
