/* -------------------------------- */
/*          ~ Variables ~           */
/* -------------------------------- */
/*          [Invoice App]           */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      17/10/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Variables
////

/*   Faded Buttons                  */
// $dim-magenta: hsl(282deg, 90%, 66%);
/*   Utility Bar Dropdown           */
// $dim-grey: hsl(230deg 86% 97% / 75%);
/*   Line Break                     */
// $line-break: hsl(231deg 20% 63% / 25%);

/*   Borders                        */
/// Border Radius - 1
/// @type Number (px)
$border-radius-1: 8px;

/// Border Radius - 2
/// @type Number (px)
$border-radius-2: 6px;

/// Border Radius - 3
/// @type Number (px)
$border-radius-3: 24px;

/// Border Radius - 4
/// @type Number (px)
$border-radius-4: 20px;

/// Border Radius - 5
/// @type Number (px)
$border-radius-5: 4px;

/*   Shadows                        */
/// Box Shadow - 1
/// @type Number (px)
$box-shadow-1: 0 10px 10px -10px rgb(72 84 159 / 10%);

/*   Web Element                    */
/// Sidebar Dimension; Desktop screens
/// @type Number (px)
$sidebar-dim-desktop: 103px;

/// Sidebar Dimension; Tablet screens
/// @type Number (px)
$sidebar-dim-tablet: 80px;

/// Sidebar Dimension; Mobile screens
/// @type Number (px)
$sidebar-dim-mobile: 72px;

/// Edit Invoice Mobile Buttons
/// @type Number (px)
$edit-invoice-mobile-btns: 90px;
