@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/variables' as v;

.input {
  width: 100%;
  padding: f.px2em(15) f.px2em(20);
  background-color: var(--color-form-input-bg);
  border: 1px solid var(--color-form-input-border);
  border-radius: v.$border-radius-5;
  font-weight: 700;
  transition: a.$theme-transition;

  &:focus {
    outline: none;
    border: 1px solid c.$color-1a;
  }
}

.container {
  display: contents;
}

.name {
  grid-column: 1;
}

.quantity {
  grid-column: 2;
  padding-inline: 8px;
  text-align: center;
}

.price {
  grid-column: 3;
}

.total {
  grid-column: 4;
}

.deleteBtn {
  justify-self: center;
  grid-column: 5;

  &:hover {
    filter: invert(67%) sepia(43%) saturate(6707%) hue-rotate(327deg) brightness(98%) contrast(88%);
  }
}
