@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;

.container {
  position: fixed;
  inset: 0;
  background-color: c.$modal-bg;
  backdrop-filter: blur(2px);
  z-index: f.z('modal-container');
}
