@use '@Sass/abstracts/animations' as a;
@use '@Sass/components/buttons' as btn;
@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as v;

.container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 f.px2em(24);

  // To allow click-through to Modal component background
  pointer-events: none;

  &__card {
    @include mx.body-3;

    // To allow click events for the ModalConfirmDelete card/buttons
    pointer-events: all;
    padding: f.px2em(48);
    color: c.$color-2b;
    background-color: var(--color-elements);
    border-radius: v.$border-radius-1;
    transition: a.$theme-transition;

    &__title {
      @include mx.body-4;
      @include mx.text-modifier-black;
      margin-bottom: f.px2em(12);
    }

    &__message {
      font-size: f.px2rem(14);
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: f.px2em(8);
      margin-top: f.px2em(16);
    }
  }

  &__cancelBtn {
    @include btn.btn-theme-wrapper(a.$theme-transition, v.$border-radius-3);
    @include btn.btn-grey;

    & > button {
      @include btn.btn-element;
      @include btn.btn-grey-hover;
    }
  }

  &__deleteBtn {
    @include btn.btn-theme-wrapper(a.$theme-transition, v.$border-radius-3);
    @include btn.btn-red;

    & > button {
      @include btn.btn-element;
      @include btn.btn-red-hover;
    }
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(mobile-all) {
  .container {
    &__card {
      padding: f.px2em(32);

      &__buttons {
        margin-top: f.px2em(24);
      }
    }
  }
}
