@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

// Variables
$margin-btm: f.px2em(42);

// REFACTOR:  Too messy
// REFACTOR:  Form submission styles to 'base' folder?
.form {
  position: relative;
  height: 100%;

  // REFACTOR:  Margin-left is currently the sidebar width, which is fixed.
  margin-left: 103px;
  margin-right: 12px;
  padding-bottom: f.px2em(200);
  padding-inline: f.px2em(56);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: c.$color-2a;

    &:hover {
      background-color: c.$color-2b;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &__billFrom,
  &__billTo {
    margin-bottom: f.px2em(24);
    font-weight: 700;
    color: c.$color-1a;
  }

  &__from {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: f.px2em(24);
    margin-bottom: $margin-btm;

    &__street {
      grid-column: 1 / span 3;
    }
  }

  &__to {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: f.px2em(24);
    margin-bottom: $margin-btm;

    &__name,
    &__email,
    &__address {
      grid-column: 1 / span 3;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: f.px2em(24);
    margin-bottom: $margin-btm;

    &__description {
      grid-column: 1 / span 2;
      margin-top: f.px2em(24);
    }
  }

  &__itemlist {
    margin-bottom: $margin-btm;

    &__title {
      @include mx.body-4;
      margin-bottom: f.px2em(16);
      color: var(--color-form-label);
    }

    &__grid {
      display: grid;
      grid-template-columns:
        minmax(auto, 215px) minmax(auto, 46px) minmax(auto, 100px) minmax(auto, 60px)
        auto;
      grid-template-rows: auto;
      gap: f.px2em(16) f.px2em(18);
      align-items: center;
      color: var(--color-form-label);

      &__btnAddItem {
        grid-column: 1 / span 5;
        width: 100%;
        @include mx.btn-default;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: f.px2em(17) f.px2em(24);
        border-radius: v.$border-radius-3;
        color: var(--color-form-label);
        background-color: var(--color-form-input-button);
        transition: a.$theme-transition;

        &:hover {
          background-color: c.$color-2a;
        }
      }
    }
  }

  &__input {
    width: 100%;
    padding: f.px2em(15) f.px2em(20);
    background-color: var(--color-form-input-bg);
    border: 1px solid var(--color-form-input-border);
    border-radius: v.$border-radius-5;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: a.$theme-transition;

    &:focus {
      outline: none;
      border: 1px solid c.$color-1a;
    }

    &::placeholder {
      color: var(--color-form-input-placeholder);
    }
  }

  &__inputLabel {
    position: relative;
    color: var(--color-form-label);
    font-weight: initial;

    &:has(input:disabled) {
      opacity: 0.5;
    }

    & > :last-child {
      margin-top: f.px2em(10);
    }
  }

  &__inputError {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: c.$color-3a;
    font-weight: initial;

    &:has(+ input:valid) {
      display: none;
    }
  }

  &__submitted {
    & .form__input:invalid {
      outline: none;
      border: 1px solid c.$color-3a;
    }

    & .form__inputLabel:has(> input:invalid) {
      color: c.$color-3a;
    }

    // Custom dropdown component
    & .form__inputLabel:has(> div[data-input-element='paymentTerms'] input:invalid) {
      color: c.$color-3a;

      & > div[data-input-element='paymentTerms'] {
        border: 1px solid c.$color-3a;
      }
    }

    // Custom FormItem component
    & input[data-input-element='formItem']:invalid {
      border: 1px solid c.$color-3a;
    }
  }
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.media(tablet-all) {
  .form {
    margin-left: 0;
  }
}

@include mq.media(tablet-medium) {
  .form {
    padding-inline: f.px2em(32);
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &__from {
      grid-template-columns: repeat(2, 1fr);

      &__street {
        grid-column: 1 / span 2;
      }

      &__country {
        grid-column: 1 / span 2;
      }
    }

    &__to {
      grid-template-columns: repeat(2, 1fr);

      &__name,
      &__email,
      &__address,
      &__country {
        grid-column: 1 / span 2;
      }
    }
  }
}

@include mq.media(tablet-small) {
  .form {
    padding-inline: f.px2em(32);
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &__from {
      grid-template-columns: repeat(2, 1fr);

      &__street {
        grid-column: 1 / span 2;
      }

      &__country {
        grid-column: 1 / span 2;
      }
    }

    &__to {
      grid-template-columns: repeat(2, 1fr);

      &__name,
      &__email,
      &__address,
      &__country {
        grid-column: 1 / span 2;
      }
    }
  }
}

@include mq.media(mobile-all) {
  .form {
    margin: 0;
    padding-inline: f.px2em(32);

    &::-webkit-scrollbar {
      display: none;
    }

    &__from {
      grid-template-columns: repeat(2, 1fr);
      gap: f.px2em(18);

      &__street {
        grid-column: 1 / span 2;
      }

      &__country {
        grid-column: 1 / span 2;
      }
    }

    &__to {
      grid-template-columns: repeat(2, 1fr);
      gap: f.px2em(18);

      &__name,
      &__email,
      &__address,
      &__country {
        grid-column: 1 / span 2;
      }
    }

    &__details {
      grid-template-columns: 1fr;
      row-gap: f.px2em(24);

      &__description {
        grid-column: 1;
        margin-top: 0;
      }
    }
  }
}
