@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.container {
  position: fixed;
  inset: 0;
  background-color: $modal-bg;
  backdrop-filter: blur(2px);
  z-index: f.z('modal-container');
}
