/* -------------------------------- */
/*       ~ Input: Textarea ~        */
/* -------------------------------- */
/*        [Kanban Task App]         */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/11/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;
@use '../base/themes' as t;
@use './input_text' as input-text;

/* -------------------------------- */
/*   Default                        */
/* -------------------------------- */

@mixin input-textarea-default {
  @include input-text.input-text-default;
  min-height: 112px;
  max-height: 250px;
  resize: vertical;

  &:focus {
    outline: 1px solid c.$col-1a;
  }
}

@mixin input-textarea-default-error {
  color: c.$col-1j;
  border: 1px solid c.$col-1j;

  &::placeholder {
    color: hsl(from c.$col-1j h s l / 40%);
  }
}

@mixin input-textarea-default-container-error {
  @include mx.body-l;
  content: "Can't be empty";
  position: absolute;
  bottom: 12px;
  right: 16px;
  display: flex;
  align-items: center;
  color: c.$col-1j;
}
