@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as v;

.grid {
  display: grid;
  grid-template:
    'img1 img3' 1fr
    'img2 img3' 1fr
    / minmax(20%, 40%) 1fr;
  gap: 32px 30px;
  max-width: 1100px;
  margin: 0 auto;

  &__img {
    border-radius: v.$border-radius-1;
  }
}

.gridArea1 {
  grid-area: img1;

  // aspect-ratio: 89/56;
  height: 100%;
  max-width: 100%;
}

.gridArea2 {
  grid-area: img2;
  height: 100%;
  max-width: 100%;

  // aspect-ratio: 89/56;
}

.gridArea3 {
  grid-area: img3;

  // aspect-ratio: 635/592;
  height: 100%;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include mq.media(tablet-all) {
  .grid {
    gap: 20px 18px;
  }
}

@include mq.media(mobile-all) {
  .grid {
    grid-template:
      'img1' auto
      'img2' auto
      'img3' auto
      / 1fr;
    gap: 20px 0;
  }
}

@include mq.media(tablet-all) {
  .gridArea1 {
    aspect-ratio: 277/174;
  }
}

@include mq.media(mobile-all) {
  .gridArea1 {
    aspect-ratio: 109/58;
  }
}

@include mq.media(tablet-all) {
  .gridArea2 {
    aspect-ratio: 277/174;
  }
}

@include mq.media(mobile-all) {
  .gridArea2 {
    aspect-ratio: 109/58;
  }
}

@include mq.media(tablet-all) {
  .gridArea3 {
    aspect-ratio: 395/368;
  }
}

@include mq.media(mobile-all) {
  .gridArea3 {
    aspect-ratio: 327/368;
  }
}
