@use '#Sass/abstracts/media-queries' as mq;

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.media(tablet-all) {
  .list {
    column-gap: 10px;
  }
}

@include mq.media(tablet-micro, mobile-all) {
  .list {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }
}
