@use '@Sass/variables' as *;
@use '@Sass/mixins' as *;
@use '@Sass/functions' as f;

.container {
  width: 100%;
}

.textarea {
  @include textarea;
  @include input-error;
  position: relative;
  min-height: 96px;
}

.error {
  @include body-4;
  margin-top: 8px;
  color: $blood-red;
}
