@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as v;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // max-width: 730px;
  padding-left: f.px2em(7);

  &__titleblock {
    & > p {
      @include mx.body-1;
      margin-top: f.px2em(6);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    column-gap: f.px2em(40.5);
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(tablet-small) {
  .container {
    &__titleblock {
      & > h1 {
        font-size: f.px2rem(32);
      }

      & > p {
        & > span {
          display: none;
        }
      }
    }

    &__controls {
      column-gap: f.px2em(20);
    }
  }
}

@include mq.media(mobile-all) {
  .container {
    &__titleblock {
      & > h1 {
        font-size: f.px2rem(32);
      }

      & > p {
        & > span {
          display: none;
        }
      }
    }

    &__controls {
      column-gap: f.px2em(20);
    }
  }
}

@include mq.media(mobile-small) {
  .container {
    &__titleblock {
      & > h1 {
        font-size: f.px2rem(24);
      }
    }
  }
}
