@use '@Sass/abstracts/animations' as a;
@use '@Sass/abstracts/colors' as c;
@use '@Sass/abstracts/functions' as f;
@use '@Sass/abstracts/media-queries' as mq;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as v;
@use '@Sass/components/buttons' as btn;
@use '@Sass/components/input_text' as input-text;
@use '@Sass/components/input_textarea' as input-textarea;

.container {
  margin: auto 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(24);
  height: fit-content;
  padding: f.px2em(32);
  margin: v.$margin-forms;
  background-color: var(--thm-form-bg);
  border-radius: v.$border-radius-forms;
  transition: a.$theme-transition-bg;

  &__group {
    & > p {
      @include mx.body-m;
      color: c.$col-1g;
      margin-bottom: f.px2em(8);
    }
  }

  &__title {
    @include mx.header-l;
    color: var(--thm-form-header-text);
    transition: a.$theme-transition-color;
  }

  &__titleInput {
    position: relative;
    width: 100%;

    & > input[type='text'] {
      @include input-text.input-text-default;
      width: 100%;
    }

    &--error {
      &::after {
        @include input-text.input-text-default-container-error;
      }

      & > input[type='text'] {
        @include input-text.input-text-default-error;
      }
    }
  }

  &__descriptionInput {
    position: relative;
    width: 100%;

    & > textarea {
      @include input-textarea.input-textarea-default;
      width: 100%;
    }

    &--error {
      &::after {
        @include input-textarea.input-textarea-default-container-error;
      }

      & > textarea {
        @include input-textarea.input-textarea-default-error;
      }
    }
  }

  &__listItems {
    display: flex;
    flex-direction: column;
    row-gap: f.px2em(12);
    margin-bottom: f.px2em(12);
  }

  &__subTask {
    display: flex;
    align-items: center;
    column-gap: f.px2em(16);

    &__container {
      position: relative;
      width: 100%;

      & > input[type='text'] {
        @include input-text.input-text-default;
        width: 100%;
      }

      &--error {
        &::after {
          @include input-text.input-text-default-container-error;
        }

        & > input[type='text'] {
          @include input-text.input-text-default-error;
        }

        & + button > .icon {
          filter: invert(51%) sepia(51%) saturate(4416%) hue-rotate(330deg) brightness(99%) contrast(87%);
        }
      }
    }
  }

  &__btnNewSubTask {
    @include btn.btn-secondary;
    width: 100%;
  }

  &__btnCreateTask {
    @include btn.btn-primary-s;
  }
}

/* --------------------------------
 ----      Media Queries       ----
 -------------------------------- */

@include mq.media(mobile-all) {
  .form {
    padding: f.px2em(24);
  }
}
