@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;

@mixin btn-theme-wrapper($transition: '', $border-radius: 0) {
  border-radius: $border-radius;
  transition: $transition;
}

@mixin btn-element {
  @include mx.btn-default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: f.px2em(17) f.px2em(24);
  color: inherit;
  background-color: transparent;
  transition: a.$btn-hover;
}

@mixin btn-grey {
  color: c.$color-2c;
  background-color: var(--color-button-cancel);
}

@mixin btn-grey-hover {
  &:hover {
    background-color: c.$color-2a;
  }
}

@mixin btn-purple {
  color: c.$white;
  background-color: c.$color-1a;
}

@mixin btn-purple-hover {
  &:hover {
    background-color: c.$color-5b;
  }
}

@mixin btn-red {
  color: c.$white;
  background-color: c.$color-3a;
}

@mixin btn-red-hover {
  &:hover {
    background-color: c.$color-5a;
  }
}

@mixin btn-navy {
  color: c.$white;
  background-color: c.$color-4a;
}

@mixin btn-navy-hover {
  &:hover {
    background-color: c.$color-2d;
  }
}
