@use '@Sass/abstracts/media-queries' as mq;

.container {
  width: 40px;
  height: 40px;

  & > img {
    border-radius: 50%;
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

@include mq.media(tablet-all, mobile-all) {
  .container {
    width: 32px;
    height: 32px;
  }
}
