@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.container {
  display: grid;
  grid-template-columns:
    minmax(65px, max-content) minmax(115px, max-content) repeat(2, minmax(min-content, auto))
    104px minmax(min-content, max-content);
  grid-template-rows: 1fr;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: f.px2em(16) f.px2em(24) f.px2em(16) f.px2em(32);
  background-color: var(--color-elements);
  box-shadow: v.$box-shadow-1;
  border-radius: v.$border-radius-1;
  cursor: pointer;
  transition:
    transform 0.2s,
    a.$theme-transition;

  &:hover {
    transform: scale(101.5%);
    outline: 1px solid c.$color-1a;
  }

  &__code {
    font-weight: 700;
    font-size: f.px2rem(15);
    line-height: f.px2rem(15);
    letter-spacing: f.px2rem(-0.25);
    color: c.$color-2c;
    margin-right: f.px2em(20);

    &--black {
      display: inline-block;
      color: var(--color-text-p);
      transition: a.$theme-transition;
    }
  }

  &__date {
    color: var(--color-text-p2);
    transition: a.$theme-transition;
    margin-right: f.px2em(20);
  }

  &__name {
    color: var(--color-text-p2);
    transition: a.$theme-transition;
    margin-right: f.px2em(20);
  }

  &__amount {
    font-weight: 700;
    font-size: f.px2rem(20);
    line-height: f.px2rem(15);
    letter-spacing: f.px2rem(-0.25);
    text-align: right;
    margin-right: f.px2em(20);
    color: var(--color-text-p);
    transition: a.$theme-transition;
  }

  &__arrowright {
    width: 4px;
    height: fit-content;
    margin-left: f.px2em(20);
  }
}

/* -------------------------------- 
 ----      Media Queries       ----          
 -------------------------------- */

@include mq.media(tablet-large) {
  .container {
    padding: f.px2em(16) f.px2em(24);
  }
}

@include mq.media(tablet-medium) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: f.px2em(16) f.px2em(24);

    &__date {
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }

    &__name {
      justify-self: end;
      margin: 0;
    }

    &__amount {
      grid-column: 1;
      grid-row: 3;
      justify-self: start;
    }

    &__status {
      grid-row: 2 / 4;
      place-self: center end;
      margin: f.px2em(25) 0 f.px2em(15) 0;
    }

    &__arrowright {
      display: none;
    }
  }
}

@include mq.media(tablet-small) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: f.px2em(16) f.px2em(24);

    &__date {
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }

    &__name {
      justify-self: end;
      margin: 0;
    }

    &__amount {
      grid-column: 1;
      grid-row: 3;
      justify-self: start;
    }

    &__status {
      grid-row: 2 / 4;
      place-self: center end;
      margin: f.px2em(25) 0 f.px2em(15) 0;
    }

    &__arrowright {
      display: none;
    }
  }
}
@include mq.media(mobile-all) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: f.px2em(16) f.px2em(24);

    &__date {
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }

    &__name {
      justify-self: end;
      margin: 0;
    }

    &__amount {
      grid-column: 1;
      grid-row: 3;
      justify-self: start;
    }

    &__status {
      grid-row: 2 / 4;
      place-self: center end;
      margin: f.px2em(25) 0 f.px2em(15) 0;
    }

    &__arrowright {
      display: none;
    }
  }
}

@include mq.media(mobile-small) {
  .container {
    padding: f.px2em(8) f.px2em(12) f.px2em(8) f.px2em(16);

    &__date {
      white-space: nowrap;
      font-size: f.px2rem(14);
    }

    &__amount {
      font-size: f.px2rem(18);
    }
  }
}
